@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    box-sizing:border-box;
    font-family: "Manrope", sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.topNav {
    display: flex;
    justify-content: space-evenly
}

.search {
    display: flex;
    border: 1px solid red;
    width: 75%;
    
}

.search input {
    width: 100%;
    height: 35px;
}



.search svg{
    margin-right: 20px;
}


.sidebar{
    display: grid;
    background-color: #fca5a5;
    grid-column: 1/2;
    grid-row: 1/3;
    color: white;
    height: 100vh;
    
}



.sidebar > div{
    margin-left: 30px;
}
div.sideContent {
   
    display: flex;
    gap: 25px;
}

.sidebar > .settings {
    margin-top: 16px;
    border: 1px solid black;
    
}

.sideContent > p {
    font-size: 1.45rem;
}

svg, .icon {
    width: 30px;
    color: white;
}

svg.blksvg {
    color: black;
}

main {
    background-color: #e2e8f0;
    border: 1px solid black;
    display: grid;
    place-items: center;
    padding: 2rem 1rem;    
   
}

main .Cards {
    grid-row: 2;
    display: grid;
    
    grid-template-rows: 1fr 8fr 1fr 3fr 2fr 3fr 1fr 8fr;
    grid-template-columns: repeat(2, 1fr) 0.75fr;
    grid-template-areas: 
    "project-header . announcements-header"
    "super-cool-project less-cool-project announcement-card"
    ". . announcement-card"
    "impossible easy-app announcement-card"
    "impossible easy-app trending-header"
    "impossible easy-app trending-card"
    ". . trending-card"
    "ad-blocker money-maker trending-card"
    ;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    
}

.card{
    background-color: white;
    padding: 15px;
}

.projects {
    
    grid-area: project-header;
}

.announcements{
    grid-area: announcements-header;
}



.super-cool{
    grid-area: super-cool-project;
}

.less-cool{
    grid-area: less-cool-project;
}

.announcement-card {
    grid-area: announcement-card;
    overflow: auto;
    
}

.impossible-app{
    grid-area: impossible;
}
.ad-blocker{
    grid-area: ad-blocker;
}
.easy-peasy{
    grid-area: easy-app;
}

.money-maker{
    grid-area: money-maker;
}

h2.header{
    margin-bottom: 0;
    margin-left: 0;
}
.card {
    
    border-radius: 10px;
}

div.Cards > div.col-1, div.Cards > div.col-2 {
    border-left: 10px solid #fca5a5;
}

div.cardIcons {
    display: flex;
    justify-content: end;
    
}

div.cardIcons > img:nth-child(2) {
    margin: 0 10px 0 10px;
}
.trending-header{
    grid-area: trending-header;
}
.trending-card{
    grid-area: trending-card;
    grid-row:6/9;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 3fr;
    padding: 25px 5px;
   column-gap: 25px;
    
}
.trending-card > img {
    border: 1px solid black;
    border-radius: 50px;
    width: 40px;
    justify-self: end;
    
}

.happy{
    grid-row: 4;
}

.panda {
    grid-row: 3;
}

.skull{
    grid-row: 2;
}

p.tagline{
    margin: 0;
}




